@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&amp;family=Roboto+Mono:wght@100;400&amp;display=swap);

ul.board {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Nanum Gothic Coding', 'Roboto Mono', monospace;
  overflow-x: hidden;
  /* static for old browsers */
  font-size: 3rem;
  /* scale for new browsers */
  font-size: calc(3 * var(--base-size));
  max-width: min-content;
  --base-size: min(1rem, 2.5vw);
}

@media screen and (max-width: 600px) {
  ul.board {
    overflow-x: scroll;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

ul.board li div.ticker-row {
  display: flex;
  padding: calc(var(--base-size) / 4);
}

span.ticker {
  display: block;
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  overflow-y: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* static for old browsers */
  border-radius: 0.125rem;
  padding: 0.25rem 0;
  /* margin: 0 0.125rem; */
  /* scale for modern browsers */
  border-radius: calc(var(--base-size) / 8);
  padding: calc(var(--base-size) / 4) calc(var(--base-size) / 2);
}

span.ticker.animating {
  animation: squeeze 0.075s ease-in-out infinite;
}
@keyframes squeeze {
  50% {
    transform: scaleY(0);
  }
}

span.ticker,
[dark] span.ticker {
  color: hsl(60, 50%, 65%);
  background-image: url('./ticker-bg.svg');
}

[light] span.ticker {
  color: hsl(240, 25%, 15%);
  background-image: url('./ticker-bg-light.svg');
}

@media (prefers-color-scheme: light) {
  span.ticker {
    color: hsl(240, 25%, 15%);
    background-image: url('./ticker-bg-light.svg');
  }
}
