@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@100;400;700&amp;display=swap);

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(17, 17, 10);
  background-image: url('./background-dark.svg');
  background-size: 10rem 10rem;
  color: rgb(245, 240, 209);
  font-family: 'Oxygen', 'Helvetica', sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  /* old browsers */
  max-width: 1000px;
  /* new browser override */
  max-width: min(1000px, 100vw);
  margin: 0 auto;
}

header {
  font-size: 1.75rem;
  padding: 1rem;
  max-width: 100%;
}

main {
  font-size: 1.5rem;
  max-width: 100%;
}

footer {
  font-size: 1.25rem;
}

a {
  color: yellow;
}
a:visited {
  color: orange;
}

pre {
  text-align: left;
  background: black;
  padding: 1rem;
  overflow-x: scroll;
  max-width: 100vw;
  margin: 0;
}

section {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 1rem 0;
  max-width: 100%;
}

ul.board {
  margin: 0 auto;
}

body,
section,
a,
pre {
  transition: background-color 1s ease, background-image 1s ease, color 1s ease;
}

li h3 {
  text-align: left;
}
li p {
  text-align: left;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: rgb(246, 243, 224);
    background-image: url('./background-light.svg');
    color: rgb(17, 17, 10);
  }

  section {
    background: rgba(255, 255, 255, 0.5);
  }

  a {
    color: rgb(70, 57, 155);
  }
  a:visited {
    color: rgb(156, 81, 135);
  }

  pre {
    background: white;
  }
}
